<div class="regbutton"><h1>Your profile</h1></div>
<div class="container">
  <div class="span4 well">

      
        <h1><%= current_user.user_type %></h1>
         <% if current_user.user_type=="Заказчик" %>
        <div class="lead"> You are signed in as client.</br> Start to find a designer to your work </div>
  
        <div class="regbutton"> <%= link_to "FIND DESIGNER!", new_order_path, class: "btn btn-lg btn-default" %></div>
       
        <% else %>
         <div class="regbutton"><h5>You are signed in as perfomer </h5></div>
        
        <% end %>
       


      </div>
  </div>


<%= link_to 'New Order', new_order_path %>
