
<div class="col-lg-8 col-md-6 welcome" >
  <h1>New you</h1>
  <h3>Сервис по преображению фотографий</h3> </br>
  <p>У вас есть фотографии, которые нужно редактировать, </br>
  но нет специалиста под рукой? Или же вы отлично владеете </br> 
  фото-редактором,  но не знаете как на этом заработать? </br>
  Тогда вам сюда!</p>
</div>

<div class="col-lg-4 col-md-4">
  <div class="form">

    <div class="form-group">
  <%= render 'session' %>           

  </div> 
</div>

<div class="form">
  <h4>Впервые у нас? Присоединяйся!</h4>
      <%= render 'new'%>
</div>
