/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
*= require select2
*= require select2-bootstrap
 # LESS
 *= require devise_bootstrap_views_less
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.welcome {
font-family: "RobotoRegular";
src: url("../fonts/RobotoRegular/RobotoRegular.eot");
src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
font-style: normal;
font-weight: normal;
margin-top: 24%;
margin-left: 10%;

font-size: 30px;
color: white;
font-weight: 700;
text-shadow:
-1px -1px 0 #000,
1px -1px 0 #000,
-1px 1px 0 #000,
1px 1px 0 #000;
}
.welcome h1 {
font-size: 70px;
font-weight: 700;
}

body {
background: url(1.jpg);
background-size: 100%;

}

.registration {

width: 350px;
color: white;
border: 4px;
background: #292735;/* Цвет фона */
padding: 10px; /* Поля вокруг текста */
margin: auto;
margin-top: 15%;
}

.session {

width: 350px;
color: white;
border: 4px;
background: #292735;/* Цвет фона */
padding: 10px; /* Поля вокруг текста */
margin: auto;
margin-top: 5%;

}