.btn-new1 {
  background-color: #4d4966;
  color: white;
  border: 0;
  width: 50%;
}

.neworder {
  width: 80%;
  color: white;
  background: #292735;/* Цвет фона */
  margin: 10%;
}

.left-col {
  background: #292735;
  margin-left: 10%;
  margin-bottom: 10px;
  width: 45%;
  max-height: 100%;
}

.form-group {
  padding-bottom: 15px;
}


.orderinstr {
   background: #292735;/* Цвет фона */
   color: white;
   font-weight: 400;
   margin: 10%;
}

.rightcol {
  margin-left: 20px;
  background: #292735;/* Цвет фона */
}

.orderinstr p {
  font-size: 16px;
  padding-bottom: 20px;
}

.orderinstr h3 {
  font-size:  20px;
}

.order-desc {
  background: #292735;
  padding: 20px 30px;
  margin: 20px 0 20px 20px;
  color: white;
}

.attach {
  min-height: 100px;
  min-width: 100px;
  border: 1px solid white;
}

.order-comments {
  background: #292735;
  padding: 20px 30px;
  margin: 2px 0 2px 20px;

}

.ads {
  background: #292735;
  padding: 50px;
  margin: 20px 20px 0 0;
  color: white;
  min-height: 300px;
  text-align: center;
}

